.board-list-container {
    width: 100%;
    padding: 20px;
    overflow-y: auto; 
    height: 100vh;
    margin-top: 40px;;
    
   
  }
  
  .board-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    
  }
  
  .board-item {
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
    width: 350px;
    color: black;
    background-color: white;
  }
  
  img {
    height: 200px;
    
  }

  .board-title-header {
    margin-top: 80px;
    margin-right: 300px;
    margin-left: 500px;;

  }

  .board-list-header {
    display: flex;
    justify-content: center;
  }

  .create-board-btn {
    height: 50px;
    margin-top: 70px;
    margin-left: 110px;
    
  }
  body {
    background-color: rgb(241, 225, 205);
    
}


  
  