.board-list-container {
    width: 100%;
    padding: 20px;
    
   
  }
  
  .board-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    
  }
  
  .board-item {
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
    width: 350px;
    color: black;
  }
  
  img {
    height: 200px;
    
  }

  .board-title-header {
    margin-top: 80px;
  }
  
  