.item-details {
    border: black solid 1px;
    margin-right: 120px;
    padding: 30px;
    width: 570px;
    background-color: white;
    height: 500px;
}

.item-details-page {
    display: flex;
    margin-top: 120px;;
   
}

.boards-list-div {
    margin-left: 30px;
    margin-right: 70px;
  
}

.board-list-item {
    display: flex;
    flex-direction: column;
}

.each-item {
    margin-bottom: 23px;
}

.board-title {
    margin-bottom: 23px;
    margin-top: 30px;
}

body {
    background-color: rgb(241, 225, 205);
}

.back-btn {
    position: absolute;
    top: 150px;
    left: 50px;
    background-color: transparent;
    
}

.item-price {
    margin-top: 20px;
}

.item-image-details {
    margin-top: 20px;
}

.delete-item {
    position: absolute;
    bottom: 110px;
    left: 250px;
}

.edit-item {
    position: absolute;
    bottom: 110px;
    left: 320px;
}

.cart-button {
    position: absolute;
    bottom: 110px;
    right: 600px;
}

.item-name {
    color: black;
}

.item-name:hover {
    color: blue;
}
